Repository opentensor/async-substrate-interface, pull requests merged in 2025-03, with the labels that each got.

#83 Add workflows for run SDK and BTCLI tests if labels are applied
  .github/workflows/check-btcli-tests.yml
  .github/workflows/check-sdk-tests.yml
Labels: enhancement, run-bittensor-sdk-tests, run-bittensor-cli-tests

#85 Update docker image name
  .github/workflows/check-btcli-tests.yml
Labels: run-bittensor-sdk-tests, run-bittensor-cli-tests

#87 Updates `_load_registry_type_map`
  async_substrate_interface/types.py
Labels: run-bittensor-sdk-tests, run-bittensor-cli-tests

#88 1.0.9: Bumps version and changelog
  CHANGELOG.md
  pyproject.toml
Labels: run-bittensor-sdk-tests, run-bittensor-cli-tests

#89 Release/1.0.9
  .github/workflows/check-btcli-tests.yml
  .github/workflows/check-sdk-tests.yml
  CHANGELOG.md
  async_substrate_interface/types.py
  pyproject.toml
Labels: run-bittensor-sdk-tests, run-bittensor-cli-tests, Release

#90 Fix: response is still missing for callback
  async_substrate_interface/sync_substrate.py
Labels: bug, run-bittensor-sdk-tests
